<!doctype html>
<html>
    <head>
        <title>Web Developer - Giray SAM</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css" />
        
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">

        <link rel="stylesheet" href="assets/css/solarized-dark.min.css" />

        <link rel="stylesheet" href="assets/css/main.css" />
        
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">giray sam</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a class="link" href="#about">About</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="link" href="#boomerang-cache">Boomerang Cache</a></li>
                                <li><a class="link" href="#viiny-dragger">Viiny Dragger</a></li>
                            </ul>
                        </li>
                        <li><a class="link" href="#contact">Contact</a></li>
                    </ul>
                </div> <!-- slidemenu -->
            </div>
        </div>
        <div id="page-content" class="container-fluid">
            <div id="about" class="row">
                <div class="middle-panel col-md-6">
                    <h2>About Me</h2>
                    <p>
                        I'm living and working in Turkey / Izmir. I'm happily married to a wonderful woman and we have a wonderful child.
                    </p>
                    <p>I love open source javascript projects. if you want to see them can you visit in my github account and contribute them.</p>
                    <p>
                        <!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/giraysam" data-style="mega" data-count-href="/giraysam/followers" data-count-api="/users/giraysam#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @giraysam on GitHub">Follow @giraysam</a>
                    </p>
                </div>
                <div class="right-panel col-md-6">
                    <pre>
                        <code class="js">
{
    github: "<a target="_blank" href='https://github.com/giraysam'>github.com/giraysam</a>",
    instagram: "<a target="_blank" href='https://www.instagram.com/giraysam'>instagram.com/giraysam</a>"
}
                        </code>
                    </pre>
                </div>
            </div> <!-- row -->

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <h2>Projects</h2>
                </div>
            </div>
            
            <div id="projects-container">
            </div>
            
            <script type="text/template" id="tmplt-project">
                <div class="row">
                    <div class="middle-panel col-md-6">
                        <h4 id="boomerang-cache" ><%= project.title %></h4>
                        <p><i><%= project.description %></i></p>
                        <% if (project.source || project.minified) { %>
                            <b>Download: </b>
                            <% if (project.source) { %>
                            <a target="_blank" href="<%=project.source%>">Source</a>
                            <% } %>

                            <% if (project.minified) { %>
                            - <a target="_blank" href="<%=project.minified%>">Minified</a>
                            <% } %>
                            <br />
                        <%} %>

                        <% if (project.github) { %>
                        <b>Follow the project on </b> <a target="_blank" href="<%=project.github%>">Github project page</a>
                        or <a target="_blank" href="<%=project.github %>/issues">report a bug</a>
                        <br />
                        <% } %>

                        <% if (project.doc) { %>
                        <b>View </b> <a target="_blank" href="<%=project.doc%>">Full documentation</a>
                        <br />
                        <% } %>

                        <% if (project.keywords) { %>
                        <b>Keywords </b> <%=project.keywords%>
                        <br />
                        <% } %>
                        
                    </div>
                    <div class="right-panel col-md-6">
                        <%= project.codes.join('\n') %>
                    </div>
                </div> <!-- row -->
            </script>

            <hr />

            <!-- Contact -->
            <div id="contact" class="row">
                <div class="middle-panel col-md-6">
                    <h2>Contact</h2>
                    Feel free to contact me. if you have any questions or just want to say "Hi."
                </div>
                <div class="right-panel col-md-6">
                    <pre>
                        <code>
{
    email: "gry.sam@gmail.com"
}
                        </code>
                    </pre>
                </div>
            </div> <!-- row -->

            <div class="right-panel-background col-md-6"></div>
        </div> <!-- container-fluid -->
    </body>
    
    <script src="assets/js/highlight.pack.js" type="text/javascript"></script>
    <script src="assets/js/jquery-2.2.4.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/js/underscore-min.js" type="text/javascript"></script>
    <script src="assets/js/backbone-min.js" type="text/javascript"></script>
    <script src="assets/js/app.js" type="text/javascript"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $('pre code').each(function(i, block) {
                    hljs.highlightBlock(block);
                });
            }, 500);

            $('#bs-example-navbar-collapse-1').on('hide.bs.collapse', function () {
                $(this).animate({
                    left: '-50%'
                });
            });

            $('#bs-example-navbar-collapse-1').on('show.bs.collapse', function () {
                $(this).animate({
                    left: '0px'
                });
            });

            $("a.link").on("click", function(event){
                
                if(this.hash !== "") {
                    event.preventDefault();
                    $('#bs-example-navbar-collapse-1').collapse('hide');

                    $('#bs-example-navbar-collapse-1 ul li').removeClass('active');
                    $(this).parent('li').addClass('active');

                    $("html, body").animate({scrollTop:$(this.hash).offset().top - 350}, 500);

                    window.location.hash = this.hash;
                }
            });
        });
    </script>
</html>