body {
    font-family: 'Roboto', sans-serif;
	line-height: 25px;
}
/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
#page-content {
    position: relative;
    padding-top: 70px;
    left: 0;
    overflow-x: hidden;
}
#page-content.slide-active {
    padding-top: 0
}
pre {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
code {
    padding-bottom: 0;
    margin-bottom: 0;
}
.middle-panel {
    color: #3c4151;
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 25px;
    border: 4px solid #ffffff;
}
.middle-panel:after, .middle-panel:before {
    left: 100%;
	top: 43px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
    z-index: 150;
}
.middle-panel:after {
    border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 7px;
	margin-top: -7px;
}
.middle-panel:before {
    border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 13px;
	margin-top: -13px;
}
.middle-panel h4 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	color: #b58900;
	border-left: 5px solid;
}
.right-panel {
    background-color: #002b36;
    color: #959cad;
    font-size: 16px;
    font-weight: 300;
    z-index: 100;
    position: relative;
}
.right-panel .panel-content {
    padding-bottom: 25px;
}
.right-panel h3 {
    color: #002b36;
    font-size: 23px;
    font-weight: 400;
    padding: 0;
    margin: 0 0 10px 0;
}
.right-panel-background {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    display: none;
    background-color: #002b36;
    z-index: 1;
}
.navbar-header {
    position: relative;
}
.navbar-inverse .navbar-brand {
    color: #b58900;
}
.navbar-inverse {
    background: #000000;
}
.navbar-inverse .navbar-nav > li > a {
    color: #b58900;
}
.container-fluid > .navbar-header {
	margin-left: 0;
}
.navbar-brand {
    font-family: 'Yellowtail', cursive;
	font-size: 25px;
	padding-top: 10px;
}
@media (min-width: 981px) {
    .right-panel-background {
        display: block;
    }
}
@media (max-width: 767px) {
	.navbar-collapse {
		position: fixed;
		left: -50%;
		top: 50px;
		width: 50%;
		background: #101010 none repeat scroll 0% 0%;
		min-height: 100%;
	}
	.container-fluid > .navbar-collapse {
		margin-left: 0;
	}
	.navbar-toggle {
		float: left;
		margin-right: 0;
		margin-left: 5px;
	}
	.navbar-brand {
		padding-left: 5px;
	}
}